* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: green;
}
.main-container {
  width: 5rem;
  height: 3rem;
}

.fa-bars {
  position: absolute;
  top: 20px;
  left: 43px;
  font-size: 30px;
}
body {
  position: relative;
}

.section1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 33rem;
}
.section1 .inputField {
  width: 20rem;
  height: 3rem;
  outline: none;
  border: 3px solid green;
  background-color: white;
  padding-left: 100px;
  font-size: 20px;
}
::placeholder {
  color: green;
}
.section1 button {
  border: none;
  height: 3rem;
  width: 5rem;
  font-size: 15px;
  border: 3px solid green;
  background-color: white;
}

.section2 {
  display: grid;
  grid-template-columns: 120px 120px 200px 120px 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 43rem;
  top: 130px;
  gap: 5px;
}
.section2 .butns {
  border: none;
  background-color: yellowgreen;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  height: 25px;
  width: 25px;
}
.section2 .disc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section2 .items {
  border: 3px solid green;
  background-color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
.hidden {
  display: none;
}
.rowField {
  display: contents;
}
.subtotal {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  height: 40vh;
  width: 17vw;
  position: absolute;
  right: 0;
  top: 430px;
}

.section3 {
  display: grid;
  grid-template-columns: 150px 100px;
  grid-template-rows: 50px 50px 50px 50px;
  gap: 1px;
}

button:disabled {

  cursor: not-allowed;
  
}



button:enabled {
  cursor: pointer;
}
.section3 .item {
  border: 2px solid green;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm {
  height: 40px;
  width: 150px;
  border: none;

  border: 2px solid green;
}
.image {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  left: 20px;
}

.cards {
  height: 80vh;
  width: 14vw;
  position: relative;
  left: 20px;
  top: 50px;
}
.card {
  border: 3px solid green;
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 100px 100px;
  grid-template-rows: 50px 50px;
}
.card .item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
